<div id="liste-especes">
    <div id="filter-tool">
        <h3>Recherche</h3>
        <input type="text" value='' [formControl]="filter"> <!-- [FormControl]="filter" -->
        <button (click)="activateClass('fao'); switchFilter()" [ngClass]="{'active': isActiveFao === true}">Fao <br> Code</button>
        <button (click)="activateClass('fra'); switchFilter()" [ngClass]="{'active': isActiveFra === true}">French <br> Name</button>
    </div>

    <section class="contentList">       
        <mat-nav-list class="list-elem">
            <div class="title">
                <h3>Fao Code</h3>
                <h3>French Name</h3>
                <h3>Scientific Name</h3>
            </div>
            <a mat-list-item class="row element" *ngFor="let item of filteredStates$ | async"> <!-- filteredList$ | async -->
                <div matLine>
                    <div id="row">
                        <p>{{ item.faoCode }}</p>
                        <p>{{ item.frenchName }}</p>
                        <p>{{ item.scientificName }}</p>
                    </div>
                </div>
            </a>
        </mat-nav-list>
    </section>
</div>


        <!-- <div v-for="(item, id) in filters" v-bind:key="item.faoCode">
            <p>{{ item.faoCode }}</p>
            <p>{{ item.frenchName }}</p>
            <p>{{ item.scientificName }}</p>
        </div> -->
