<div id="liste-especes">
    <div id="filter-tool">
        <h3>Recherche</h3>
        <input type="text" value='' [formControl]="filter">
        <button (click)="activateClass('fao'); switchFilter()" [ngClass]="{'active': isActiveFao}">Fao <br> Code</button>
        <button (click)="activateClass('fra'); switchFilter()" [ngClass]="{'active': isActiveFra}">French <br> Name</button>
    </div>

    <section class="contentList">       
        <mat-nav-list class="list-elem">
            <div class="title">
                <h3>Fao Code</h3>
                <h3>French Name</h3>
                <h3>Scientific Name</h3>
            </div>
            <a mat-list-item class="row element" *ngFor="let item of filteredStates$ | async">
                <div matLine>
                    <div id="row">
                        <p>{{ item.faoCode }}</p>
                        <p>{{ item.frenchName }}</p>
                        <p>{{ item.scientificName }}</p>
                    </div>
                </div>
            </a>
        </mat-nav-list>
    </section>
</div>