$main-font-color: #425486;
$main-button-color: #41B883;

$main-white-color: #FFFFFF;
$main-red-color: #fb565e;
$body-grey-color: #F1F2F6;
$light-grey-color: #DDDDDD;
$dark-grey-color: #333333;

$header-font-color: #132f63;
$header-first-color: hsla(210, 96%, 40%, 1);
$header-second-color: hsla(181, 73%, 67%, 1);